{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <div class="container mt-4 border p-4">
            <div class="row">
            <div class="col">
                <img src="{{ listing.image.url }}" alt="{{listing.title}}" width="200" height="200">
            </div>
            <div class="col">
                <p><strong>{{ listing.title }}</strong></p>
                <p><strong>{{ listing.price }} $</strong></p>
                <p>{{ listing.date_created }}</p>
                <p><a href="{% url 'listing_details' listing.id%}">Details</a></p>
            </div>
            </div>
        </div>
        {% empty %}
            <p>No Listings Added yet</p>
    {% endfor %}
{% endblock %}